<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <span class="white"> BeatyCare.com </span>
  </div>
  <!-- Copyright -->

</footer>