
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope fa-2x prefix grey-text"></i>
          <input type="email" placeholder="Enter Your Email"[(ngModel)]="userData.email" id="defaultForm-email" class="form-control validate">
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock fa-2x prefix grey-text"></i>
          <input type="password" placeholder="Enter Your Password" [(ngModel)]="userData.password" id="defaultForm-pass" class="form-control validate">
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default" (click)="login()">Login</button>
      </div>