.btn-default {
    color: #fff;
    background-color: #2bbbad !important;
}

.md-form {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-control{
    display: inline-block;
    width: 85%;
    margin-left: 20px;
    height: 42px !important;
}