.fa-shopping-cart{
    color:white;
}

.background{ 
    background: border-box ;
    box-shadow: none ;
    color: darkgrey;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    border-radius: 0;
    margin-top: 19%;
    border: none;
    
         }

 
       