<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html" routerLink="">Beauty-Care</a>
    <button class="navbar-toggler" type="button" data-toggle="co B BWSWWW        +
    
    
     b      lapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
        <li class="nav-item active" *ngIf="isTokenEmpty">
          <a class="nav-link" href="#" (click)="openLoginModal()">Login</a>
        </li>
        <li class="nav-item" *ngIf="isTokenEmpty"><a href="#" class="nav-link"
            (click)="openRegistrationModal()">Registration</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Orders</a></li>
        <li class="nav-item" (click)="logout()" *ngIf="!isTokenEmpty"><a href="#" class="nav-link">Logout</a>
        </li>

        <!-- div class="form-group">
          <div class="select-wrap one-third">
            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
            <select name="My Account" id="" class="background">

              <option value="">{{My Account}}</option>
              <option value="">Profile</option>
              <option value="">Orders</option>
              <option value="">logout</option>
            </select>
          </div>
        </div> -->

        <!-- <li class="nav-item"><a class="nav-link float-right"><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a></li> -->

      </ul>
    </div>
  </div>
  <a href="#" class=" float-right" routerLink="cart">
    <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
  </a>
</nav>
<!-- END nav -->