      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" placeholder="Enter Your FullName" [(ngModel)]="userData.name" id="orangeForm-name" class="form-control validate">
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" placeholder="Enter Your Email" [(ngModel)]="userData.email" id="orangeForm-name" class="form-control validate">
        </div>
        <div class="md-form mb-5">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" placeholder="Enter Your Password" [(ngModel)]="userData.password" id="orangeForm-email" class="form-control validate">
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" placeholder="Enter Your Re-Password" [(ngModel)]="userData.rePassword" id="orangeForm-pass" class="form-control validate">
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-info" (click)="signUp()">Sign up</button>
      </div>