<section class="instagram pt-5">
    <div class="container-fluid">
      <div class="row no-gutters justify-content-center pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <h2><span>Instagram</span></h2>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm-12 col-md ftco-animate">
          <a href="../assets/img/Mirum-India.jpg" class="insta-img image-popup"
            style="background-image: url(../assets/img/Mirum-India.jpg);">
            <div class="icon d-flex justify-content-center">
              <span class="icon-instagram align-self-center"></span>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md ftco-animate">
          <a href="../assets/img/parler-image1.jpg" class="insta-img image-popup"
            style="background-image: url(../assets/img/parler-image1.jpg);">
            <div class="icon d-flex justify-content-center">
              <span class="icon-instagram align-self-center"></span>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md ftco-animate">
          <a href="../assets/img/skin-care.jpg" class="insta-img image-popup"
            style="background-image: url(../assets/img/skin-care.jpg);">
            <div class="icon d-flex justify-content-center">
              <span class="icon-instagram align-self-center"></span>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md ftco-animate">
          <a href="../assets/img/Hare-style.jpg" class="insta-img image-popup"
            style="background-image: url(../assets/img/Hare-style.jpg);">
            <div class="icon d-flex justify-content-center">
              <span class="icon-instagram align-self-center"></span>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md ftco-animate">
          <a href="../assets/img/makeup-artist.jpg" class="insta-img image-popup"
            style="background-image: url(../assets/img/makeup-artist.jpg);">
            <div class="icon d-flex justify-content-center">
              <span class="icon-instagram align-self-center"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
