<div class="row">
  <div *ngFor="let item of itemList" class="col-sm col-md-6 col-lg-4 ftco-animate">
    <div class="room">
      <a href="rooms-single.html" class="img room1 d-flex justify-content-center align-items-center"
        style="background-image: url(../assets/img/product.jpg);">
      </a>
      <div class="text p-3 text-center">
        <h3 class="mb-3"><a href="#">{{item.name}}</a></h3>
        <p><span class="price mr-2">₹{{item.price}}</span></p>
        <ul class="list">
          <li><span>Parlor Name:</span> {{item.salonName}}</li>
          <li><span>Email:</span> {{item.email}}</li>
          <li><span>Mobile:</span> {{item.mobile}}</li>
          <li><span>Address:</span> {{item.address}}</li>
        </ul>
        <hr>
        <p class="pt-1"><a href="#" class="btn-custom" (click) = "isLoggedInUser(item.salonItemId,item.parlorId)">Add To Cart <span
              class="icon-long-arrow-right"></span></a></p>
      </div>
    </div>
  </div>
</div>

<ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>