<div class="hero-wrap" style="background-image: url('../assets/img/parler-background.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
        <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          <div class="text">
            <h1 class="mb-4 bread">salons</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
