<app-header-image></app-header-image>
<!-- <app-bill></app-bill> -->
<app-product-search-container>
  <app-product-list class="col-lg-9"></app-product-list>
  <!-- <app-advance-search class="col-lg-3 sidebar"></app-advance-search> -->
</app-product-search-container>

<!-- Instagram Images -->
<app-portfolio></app-portfolio>

