<div class="containerv cart-custom">
	<perfect-scrollbar class="tbl-height">
		<table id="cart" class="table table-hover table-condensed">
			<thead>
				<tr>
					<th style="width:50%">Product</th>
					<th style="width:10%">Price</th>
					<th style="width:8%">Quantity</th>
					<th style="width:22%" class="text-center">Subtotal</th>
					<th style="width:10%"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let cart of cartList">
					<td data-th="Product">
						<div class="row">
							<div class="col-sm-2 hidden-xs"><img src="../../../assets/img/person_1.jpg" alt="..."
									class="img-responsive" /></div>
							<div class="col-sm-10">
								<h4 class="nomargin">{{cart.name}}</h4>
								<p>{{cart.discription}}</p>
							</div>
						</div>
					</td>
					<td data-th="Price">{{cart.price}} ₹</td>
					<td data-th="Quantity">
						<input type="number" [(ngModel)]="cart.quantity" (change)="changeCartTotal()" min="1" max="10" class="form-control text-center" [value]="cart.quantity">
					</td>
					<td data-th="Subtotal" class="text-center">{{cart.quantity * cart.price}} ₹</td>
					<td class="actions" data-th="">
						<button class="btn btn-info btn-sm"><i class="fas fa-redo"></i></button>
						<button class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td routerLink=""><a class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
					<td colspan="2" class="hidden-xs"></td>
					<td class="hidden-xs text-center"><strong>Total {{totalAmount}}</strong></td>
					<td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a>
					</td>
				</tr>
			</tfoot>
		</table>
	</perfect-scrollbar>
</div>