<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
           <ng-content>
               <!-- Product List Here -->
           </ng-content>
           <ng-content>
               <!-- Product Advance Search Here -->
           </ng-content>
        </div>
    </div>
</section>