<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#login" role="tab"
                        aria-controls="home" aria-selected="true">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#register" role="tab"
                        aria-controls="profile" aria-selected="false">REGISTRATION</a>
                </li>
            </ul>
 
        </div>
    </div>
</div>