    <div class="sidebar-wrap bg-light ftco-animate side">
      <h3 class="heading mb-4">Advanced Search</h3>
      <form action="#">
        <div class="fields">

          <div class="form-group">
            <div class="select-wrap one-third">
              <div class="icon"><span class="ion-ios-arrow-down"></span></div>
              <select name="" id="" (change) = getAllItem($event.currentTarget.value) class="form-control">
                <option [value]="0">Category</option>
                <option [value]="category.id" *ngFor="let category of categoryList">{{category.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="select-wrap one-third">
              <div class="icon"><span class="ion-ios-arrow-down"></span></div>
              <select name="" id="" (change)="filterItem($event.currentTarget.value)" class="form-control">
                <option [value] = "0">Item</option>
                <option [value]="item.id" *ngFor="let item of itemList">{{item.name}}</option>
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <!-- <div class="range-slider">
              <span>
                <input type="number" value="25000" min="0" max="120000" /> -
                <input type="number" value="50000" min="0" max="120000" />
              </span>
              <input value="1000" min="0" max="120000" step="500" type="range" />
              <input value="50000" min="0" max="120000" step="500" type="range" />
            </div> -->
            <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>

          </div>
          <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary py-3 px-5">
          </div>
        </div>
      </form>
    </div>
   <!--  <div class="sidebar-wrap bg-light ftco-animate">
      <h3 class="heading mb-4">Star Rating</h3>
      <form method="post" class="star-rating">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">
            <p class="rate"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                  class="fa fa-star"></i><i class="fa fa-star"></i></span></p>
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">
            <p class="rate"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                  class="fa fa-star"></i><i class="fa fa-star-o"></i></span></p>
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">
            <p class="rate"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                  class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></p>
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">
            <p class="rate"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i
                  class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></p>
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">
            <p class="rate"><span><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i
                  class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></p>
          </label>
        </div>
      </form>
    </div> -->